<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nerunja.testng.databinding">
	<listeners>
		<listener class-name="net.sf.testng.databinding.TestAnnotationTransformer" />
	</listeners>
	
	<test name="All Tests" >
		<packages>
			<package name="nerunja.testng.databinding" />
		</packages>
	</test> <!-- All Tests -->
</suite> <!--  -->